#tooltip {
    position: absolute; /* Absolute positioning for tooltip */
    background-color: #f1f1f1; /* Light gray background */
    border: 1px solid #ddd; /* Border for the tooltip */
    padding: 5px; /* Add padding for content */
    display: none; /* Initially hide the tooltip */
  }
  
  #tooltip-text {
    font-size: 12px; /* Adjust font size for tooltip text */
  }
  .main {
    width: 25vw; /* Set width to 100% of viewport width */
    height: 100vh; /* Set height to 100% of viewport height */
  }
  

  
  .bottom-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 150px;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .down {
    display: flex;
    width: 100%;
  }
  
  .box {
    height: 140px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.208); /* Use rgba for transparency */
    border-radius: 8px;
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
    backdrop-filter: blur(8px); /* Apply blur effect to background */
    box-shadow: 0 8px 32px 0 rgba(34, 41, 134, 0.37); /* Add box shadow for depth */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; /* Smooth transition */
    border: 1px solid white;
  }
  
  .box:hover {
    transform: scale(1.05); /* Scale up on hover */
  }
  
  .alignment{
    align-items: center;
    margin-right: 10px;
  }

  .profile {
    height: 100px;
    width: 100px; /* Adjust width to match height for a perfect circle */
    border-radius: 50%; /* Make the div circular */
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
    justify-content: center; /* Center the content horizontally */
     /* Center the content vertically */

  }
  
  .profile img {
    max-width: 100%; /* Ensure the image fits within the circular boundary */
    max-height: 100%; /* Ensure the image fits within the circular boundary */
  }
  